<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1005685990079-lulmo0ngtvg3d1su0g562r8ob04tmqni.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1005685990079-lulmo0ngtvg3d1su0g562r8ob04tmqni</string>
	<key>API_KEY</key>
	<string>AIzaSyDFru4AyAzq5GmAdGv91bYxcPyRVcuFpyQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1005685990079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.cocoapods.demo.Chips-Example</string>
	<key>PROJECT_ID</key>
	<string>qnock-8c3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>qnock-8c3c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1005685990079:ios:d2b4f081bcd0214e</string>
	<key>DATABASE_URL</key>
	<string>https://qnock-8c3c7.firebaseio.com</string>
</dict>
</plist>