<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>1078767043319-cjb1vh37tgr8eq6smi8dhfv92taj70vl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1078767043319-cjb1vh37tgr8eq6smi8dhfv92taj70vl</string>
	<key>API_KEY</key>
	<string>AIzaSyD1bgbnSlRNx2p0pqg5wqEB7rSPC1uzLz0</string>
	<key>GCM_SENDER_ID</key>
	<string>1078767043319</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.codigo.CipsExample</string>
	<key>PROJECT_ID</key>
	<string>data-tanah</string>
	<key>STORAGE_BUCKET</key>
	<string>data-tanah.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1078767043319:ios:d30df6d2afc63dc1</string>
	<key>DATABASE_URL</key>
	<string>https://data-tanah.firebaseio.com</string>
</dict>
</plist>